<div class="row">
  <div class="col-12">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="title">Employee Form</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <!-- First Name -->
              <div class="form-group">
                <label for="txtFirstName">First Name</label>
                <input
                  type="text"
                  id="txtFirstName"
                  placeholder="Enter your first name"
                  class="form-control"
                  formControlName="firstname"
                />
                <!-- <div
                  class="alert alert-danger"
                  *ngIf="firstname.errors?.required && firstname.touched"
                >
                  Firstname is required.
                </div> -->
              </div>
              <!-- Last Name -->
              <div class="form-group">
                <label for="txtLastName">Last Name</label>
                <input
                  type="text"
                  id="txtLastName"
                  placeholder="Enter your last name"
                  class="form-control"
                  formControlName="lastname"
                />
              </div>
              <!-- Gender -->
              <div class="form-group">
                <label>Gender</label>
                <br />
                <div class="form-check-inline">
                  <label for="" class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      value="male"
                      formControlName="gender"
                    />
                    Male</label
                  >
                </div>
                <div class="form-check-inline">
                  <label for="" class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      value="female"
                      formControlName="gender"
                    />Female</label
                  >
                </div>
              </div>
              <!-- Age -->
              <div class="form-group">
                <label for="txtAge">Age</label>
                <input
                  type="number"
                  min="18"
                  max="65"
                  id="txtAge"
                  class="form-control"
                  placeholder="Enter your age"
                  formControlName="age"
                />
              </div>
              <!-- Department -->
              <div class="form-group">
                <label for="ddDepartments">Departments</label>
                <select
                  name="department"
                  id="ddDepartments"
                  class="form-control"
                  formControlName="department"
                >
                  <option value="">-- select a department --</option>
                  <option *ngFor="let d of departments" [value]="d.value">
                    {{ d.text }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <!-- Email Address -->
              <div class="form-group">
                <label for="txtEmailAddress">Email Address</label>
                <input
                  type="text"
                  id="txtEmailAddress"
                  placeholder="Enter your email address"
                  class="form-control"
                  formControlName="emailaddress"
                />
                <div
                  *ngIf="emailaddress.errors?.required"
                  class="alert alert-danger"
                >
                  Email address is required.
                </div>
                <div
                  *ngIf="emailaddress.errors?.pattern && emailaddress.touched"
                  class="alert alert-danger"
                >
                  Email address is invalid.
                </div>
              </div>
              <!-- Phone Type and Phone Number -->
              <div class="row">
                <div class="col-6">
                  <label>Phone Type</label>
                  <br />
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        value="home"
                        class="form-check-input"
                        formControlName="phonetype"
                      />
                      Home
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        value="work"
                        class="form-check-input"
                        formControlName="phonetype"
                      />
                      Work
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        value="cell"
                        class="form-check-input"
                        formControlName="phonetype"
                      />
                      Mobile
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="txtPhoneNumber">Phone Number</label>
                    <input
                      type="text"
                      id="txtPhoneNumber"
                      placeholder="Enter your phone number"
                      class="form-control"
                      formControlName="phonenumber"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div
                    *ngIf="phonenumber.errors?.required"
                    class="alert alert-danger"
                  >
                    Phone number is required.
                  </div>
                </div>
              </div>
              <!-- Send notifications by -->
              <div class="form-group">
                <input type="hidden" formControlName="notificationmethods" />
                <label>Send notifications by:</label>
                <br />
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      value="phone"
                      (change)="updateNotificationMethod($event)"
                    />
                    Phone
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      value="email"
                      class="form-check-input"
                      (change)="updateNotificationMethod($event)"
                    />
                    Email
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      value="text"
                      class="form-check-input"
                      (change)="updateNotificationMethod($event)"
                    />
                    SMS
                  </label>
                </div>
                <div
                  *ngIf="
                    notificationmethods.errors?.required &&
                    notificationMethods.length > 0
                  "
                  class="alert alert-danger"
                >
                  At least one notification method is required.
                </div>
              </div>
              <!-- Language Skills -->
              <div class="form-group">
                <label for="ddLanguages">Language Skills (multiple)</label>
                <select
                  id="ddLanguages"
                  multiple
                  class="form-control"
                  formControlName="languages"
                  MultipleMin="2"
                >
                  <option value="">-- select language(s)</option>
                  <option value="english">English</option>
                  <option value="chinese">Chinese</option>
                  <option value="spanish">Spanish</option>
                  <option value="russian">Russian</option>
                  <option value="french">French</option>
                  <option value="german">German</option>
                  <option value="turkish">Turkish</option>
                </select>
              </div>
              <div
                class="alert alert-danger"
                *ngIf="languages.errors?.MultipleMin && languages.dirty"
              >
                At least 2 languages required.
              </div>
            </div>
            <div class="col-12">
              <!-- Notes -->
              <div class="form-group">
                <label for="txtNotes">Notes</label>
                <textarea
                  name="txtNotes"
                  id="txtNotes"
                  rows="3"
                  class="form-control"
                  placeholder="Additional information"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button
                class="btn btn-info"
                style="font-size:large; font-weight: bold; margin-bottom:10px;"
                (click)="addCertificate()"
              >
                Add certificate(s)
              </button>
            </div>
          </div>
          <!-- Certificates -->
          <div class="card card-success" *ngIf="certificates.length > 0">
            <div class="card-header">
              <span style="font-weight: bold; font-size:1.6em;"
                >Certificates</span
              >
            </div>
            <div class="card-body">
              <div class="row" formArrayName="certificates">
                <div
                  class="col-6"
                  *ngFor="
                    let certificate of certificates.controls;
                    let i = index
                  "
                >
                  <div class="card card-success" [formGroupName]="i">
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-6">
                          <label for="txtCertificateName"
                            >Certificate Name:</label
                          >
                          <input
                            type="text"
                            id="txtCertificateName"
                            formControlName="certificateName"
                            class="form-control"
                          />
                          <div
                            class="alert-danger"
                            *ngIf="
                              certificates.controls[i].controls.certificateName
                                .errors?.required
                            "
                          >
                            Certificate Name is required.
                          </div>
                        </div>
                        <div class="form-group col-6">
                          <label for="txtCertificateDate">Issued Date:</label>
                          <input
                            type="text"
                            id="txtCertificateDate"
                            formControlName="certificateDate"
                            class="form-control"
                          />
                          <div
                            class="alert-danger"
                            *ngIf="
                              certificates.controls[i].controls.certificateDate
                                .errors?.required
                            "
                          >
                            Issued date is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ employeeForm.value | json }}
            </div>
            <div
              class="d-flex justify-content-end align-items-center footer-buttons"
              style="flex:1 60%"
            >
              <button class="btn btn-warning" (click)="onPatch()">Patch</button>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="employeeForm.invalid"
              >
                Submit
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>
