<div class="d-flex">
  <div class="context">
    <input
      #numvalue
      type="number"
      [value]="value"
      [readonly]="step != 1 ? 'readonly' : ''"
      (keydown)="onkeydown($event)"
    />
  </div>
  <div class="d-flex flex-column">
    <div class="button" [class.disabled]="value == max" (click)="increment()">
      +
    </div>
    <div class="button" [class.disabled]="value == min" (click)="decrement()">
      -
    </div>
  </div>
</div>
