$buttonColor: rgb(159, 197, 223);
$buttonColorHovered: rgb(53, 162, 235);

.context {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10px;
  min-width: 50px;
  max-width: 50px;
  border: 1px solid lightgray;
  border-radius: 4px 0 0 4px;
  font-size: large;
  & > input[type] {
    border: none;
    outline: none;
    user-select: none;
    width: 100%;
    text-align: center;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $buttonColor;
  color: white;
  min-width: 30px;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
  &.disabled {
    background-color: lightgray;
    color: black;
    cursor: not-allowed;
    &:hover {
      background-color: lightgray;
    }
  }
  &:hover {
    background-color: $buttonColorHovered;
  }
  &:first-of-type {
    border-radius: 0 4px 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 4px 0;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
