<div class="d-flex myNav">
  <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
  <a [routerLink]="['/employeeForm']" routerLinkActive="active"
    >Employee Form</a
  >
  <a [routerLink]="['/employeeFormReactive']" routerLinkActive="active"
    >Employee Form<sup style="font-size:x-small; color:red;"> Reactive</sup></a
  >
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
