<div class="row">
  <div class="col-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="card card-default">
        <div class="card-header">
          <h4 class="title">Employee Form</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <!-- First Name -->
              <div class="form-group">
                <label for="txtFirstName">First Name</label>
                <input
                  type="text"
                  id="txtFirstName"
                  placeholder="Enter your first name"
                  class="form-control"
                  name="firstname"
                  [ngModel]="employee.firstname"
                  #firstname="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="firstname.errors?.required && firstname.touched"
                >
                  Firstname is required.
                </div>
              </div>
              <!-- Last Name -->
              <div class="form-group">
                <label for="txtLastName">Last Name</label>
                <input
                  type="text"
                  id="txtLastName"
                  placeholder="Enter your last name"
                  class="form-control"
                />
              </div>
              <!-- Gender -->
              <div class="form-group">
                <label>Gender</label>
                <br />
                <div class="form-check-inline">
                  <label for="" class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="gender"
                      value="male"
                      [ngModel]="employee.gender"
                    />
                    Male</label
                  >
                </div>
                <div class="form-check-inline">
                  <label for="" class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="gender"
                      value="female"
                      [ngModel]="employee.gender"
                    />Female</label
                  >
                </div>
              </div>
              <!-- Age -->
              <div class="form-group">
                <label for="txtAge">Age</label>
                <input
                  type="number"
                  min="18"
                  max="65"
                  id="txtAge"
                  class="form-control"
                  placeholder="Enter your age"
                />
              </div>
              <!-- Department -->
              <div class="form-group">
                <label for="ddDepartments">Departments</label>
                <select
                  name="department"
                  id="ddDepartments"
                  class="form-control"
                  [ngModel]="employee.department"
                >
                  <option value="">-- select a department --</option>
                  <option *ngFor="let d of departments" [value]="d.value">
                    {{ d.text }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <!-- Email Address -->
              <div class="form-group">
                <label for="txtEmailAddress">Email Address</label>
                <input
                  type="text"
                  id="txtEmailAddress"
                  placeholder="Enter your email address"
                  class="form-control"
                />
              </div>
              <!-- Phone Type and Phone Number -->
              <div class="row">
                <div class="col-6">
                  <label>Phone Type</label>
                  <br />
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        name="phonetype"
                        value="homephone"
                        class="form-check-input"
                      />
                      Home
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        name="phonetype"
                        value="workphone"
                        class="form-check-input"
                      />
                      Work
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        name="phonetype"
                        value="cellphone"
                        class="form-check-input"
                      />
                      Mobile
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="txtPhoneNumber">Phone Number</label>
                    <input
                      type="text"
                      id="txtPhoneNumber"
                      placeholder="Enter your phone number"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <!-- Send notifications by -->
              <div class="form-group">
                <label>Send notifications by:</label>
                <br />
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      value="phone"
                    />
                    Phone
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      value="email"
                      class="form-check-input"
                    />
                    Email
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="checkbox"
                      value="text"
                      class="form-check-input"
                    />
                    SMS
                  </label>
                </div>
              </div>
              <!-- Language Skills -->
              <div class="form-group">
                <label for="ddLanguages">Language Skills (multiple)</label>
                <select
                  id="ddLanguages"
                  name="languages"
                  multiple
                  class="form-control"
                  ngModel
                  #languages="ngModel"
                  MultipleMin="2"
                >
                  <option value="">-- select language(s)</option>
                  <option value="english">English</option>
                  <option value="chinese">Chinese</option>
                  <option value="spanish">Spanish</option>
                  <option value="russian">Russian</option>
                  <option value="french">French</option>
                  <option value="german">German</option>
                  <option value="turkish">Turkish</option>
                </select>
              </div>
              <div
                class="alert alert-danger"
                *ngIf="languages.errors?.MultipleMin && languages.dirty"
              >
                At least 2 languages required.
              </div>
            </div>
            <div class="col-12">
              <!-- Notes -->
              <div class="form-group">
                <label for="txtNotes">Notes</label>
                <textarea
                  name="txtNotes"
                  id="txtNotes"
                  rows="3"
                  class="form-control"
                  placeholder="Additional information"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ f.value | json }}
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="f.invalid"
            >
              Submit
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>
