<div [formGroup]="parent">
  <div [formGroupName]="fgn">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input type="text" formControlName="firstname" class="form-control" />
      <span class="text-danger" *ngIf="firstname?.touched && firstname?.invalid"
        >Firstname is required</span
      >
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input type="text" formControlName="lastname" class="form-control" />
      <span class="text-danger" *ngIf="lastname?.touched && lastname?.invalid"
        >Lastname is required</span
      >
    </div>
  </div>
</div>
